

article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    padding: 0.5in 0;
}

article * {grid-column: start/end; }

@media (max-width: 8.5in) {
    article { grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;}
}



img { width: 100%; }

.size-1 { grid-column: 4 / 5 ;}
.size-2 { grid-column: 4 / 5 ;}
.size-3 { grid-column: 4 / 5 ;}
.size-4 { grid-column: 4 / 5 ;}

* {
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
    font-family: pragmatica,sans-serif;
}

body {
    background: radial-gradient(at bottom right,
    #59B0F7, #596BF7);
    min-height: 350vh;
    /* z-index: -1; */
}

// main {
//     min-height: 100vh;
//     //background: radial-gradient(at bottom right,
//     //#59B0F7, #596BF7);
//     display: flex;
//     align-items: flex-start;
//     justify-content: center;
// }

// .glass {
//     background: radial-gradient(at bottom right, rgba(231,233,231,.2),rgba(231,233,231,.8));
//     min-height: 80vh;
//     width: 60vw;
//     border-radius: 2rem;
//     z-index: 2;
//     backdrop-filter: blur(2rem);
//     margin: auto;
// }

// .glass h3{
//     font-size: 2rem;
//     text-align: center;
//     font-weight: 300;
//     // font-style: italic;
//     margin-bottom: 2rem;
// }

// .glass h1, p {
//     font-size: 2rem;
//     font-weight: lighter;
//     line-height: 1.5;
//     padding: 0rem 1rem;
//     margin: 0rem 3rem;
//     // text-align: justify;
//     // word-spacing: rem
// }

// .glass h1 {
//     font-size: 4rem;
//     margin: 2rem 1.5rem;
//     text-align: center;
//     font-weight: 400;
//     font-stretch: expanded;
//     font-family: pragmatica-extended, sans-serif;
//     font-weight: 700;
//     font-style: normal;
//     // background-color: rgba($color: #F5D9C4, $alpha: .2);
//     // color: #4351BA;
//     // border-radius: 2rem;
// }

// .glass h2 {
//     font-size: 2rem;
//     padding: 0rem 1rem;
//     padding-top: 2rem;
//     margin: 1rem .5rem;
//     margin-bottom: 0rem;
//     font-weight: 300;
//     text-align: center;
    
// }

// .glass p{
//     font-size: 1.5rem;
//     margin-bottom: 1rem;
// }

// .glass div {
//     display: grid;
//     // grid-template-columns: 1fr 1fr 1fr;
//     align-items: center;
// }

// .divider {
//     height: 25vh;
//     opacity: 0;
// }

// .second p{
//     margin: 0 .5rem;
//     font-size: 1.5rem;
// }

// .second p:nth-of-type(2) { 
//     margin: 0 .5rem;
//     padding-bottom: 2rem;
// }

// // .third h2 {
// //     // text-align: justify;
// // }

// .third h2 { 
//     padding-bottom: 0rem;
// }

// .third h3{
//     font-size: 2rem;
//     text-align: center;
// }

// .third p{ 
//     padding-top: 0rem;
//     margin: 0rem;
//     font-size: 1.5rem;
// }

// .container { 
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     // align-items: center;
//     // justify-content: center;
// }

// .container div {
//     text-align: center;
// }

// .circle, .circlea {
//     background: linear-gradient( to top, 
//         rgba(78,82,252,1), rgba(89,176,247,1)
//     );
//     opacity: 60%;
//     position: absolute;
//     border-radius: 50%;
//     filter: blur(1.5rem);
// }

// .circle {
//     height: 50rem;
//     width: 50rem;
//     bottom: -15%;
//     left: -2%;
// }

// .circlea {
//     height: 25rem;
//     width: 25rem;
//     top: 5%;
//     right: 25%;
// }

// .circle1, .circle2 {
//     background: linear-gradient( to top right, 
//         rgba(231,233,231,.75), rgba(231,233,231,.15)
//     );
//     position: absolute;
//     border-radius: 50%;
//     z-index: 1;
// }

// .circle1 {
//     height: 15rem;
//     width: 15rem;
//     bottom: 15%;
//     left: 10%;
// }

// .circle1:nth-of-type(2) {
//     bottom: -115%;
//     left: 10%;
// }

// .circle2 {
//     height: 8rem;
//     width: 8rem;
//     top: 5%;
//     right: 18%;
// }

// .circle2:nth-of-type(2) {
//     top: 115%;
//     right: 18%;
// }

// @media (orientation: portrait) {
//     html,body
//     {
//         width: 100%;
//         height: 100%;
//         margin: 0px;
//         padding: 0px;
//         overflow-x: hidden; 
//     }
    
//     .glass {
//       min-height: 90vh;
//       width: 90vw;
//     }

//     .glass h1, p, h2 {
//         font-weight: 200;
//         font-size: .75rem;
//         padding: 0rem 0rem;
//         margin: .25rem .25rem;
//         line-height: 1.25;
//         text-align: center;
//     }
    
//     .glass h1 {
//         font-size: 3rem;
//         margin: .5rem;
//     }
//     .glass h3 {
//         font-size: 1.25rem;
//     }

//     .glass h2 {
//         font-size: 1.25rem;
//         margin: 0rem;
//     }

//     .glass p {
//         font-style: italic;
//         grid-column: span 3;
//         margin: 1rem;
//         font-size: .95rem;
//     }

//     .second h2 {
//         padding-top: .5rem;
//     }
//     .second h3{
//         font-size: 1rem;
//     }
    
//     .divider {
//         max-height: 10vh;
//     }

//     .circle {
//         height: 10rem;
//         width: 10rem;
//         bottom: -15%;
//         left: -2%;
//     }
    
//     .circlea {
//         height: 5rem;
//         width: 5rem;
//         top: 5%;
//         right: 25%;
//     }

//     .circle1 {
//         height: 10rem;
//         width: 10rem;
//         bottom: 15%;
//         left: -10%;
//     }
    
//     .circle1:nth-of-type(2) {
//         bottom: -115%;
//         left: -10%;
//     }
    
//     .circle2 {
//         height: 5rem;
//         width: 5rem;
//         top: 2%;
//         right: 2%;
//     }
    
//     .circle2:nth-of-type(2) {
//         top: 115%;
//         right: 2%;
//     }
// }
