* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: pragmatica,sans-serif;
}

body {
  background: radial-gradient(at bottom right, #5F4C9C, #101f43);
  min-height: 300vh;
  /* z-index: -1; */
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass {
  background: radial-gradient(at bottom right, rgba(231, 233, 231, 0.2), rgba(231, 233, 231, 0.5));
  min-height: 80vh;
  width: 60vw;
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  margin: auto;
}

.glass h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

.glass h1, p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.5;
  padding: 0rem 1rem;
  margin: 0rem 3rem;
}

.glass h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  color: #fdbe96;
}

.glass h2 {
  font-size: 2rem;
  padding: 0rem 1rem;
  padding-top: 2rem;
  margin: 1rem .5rem;
  margin-bottom: 0rem;
  font-weight: 300;
  text-align: center;
}

.divider {
  height: 25vh;
  opacity: 0;
}

.second p {
  margin: 0 .5rem;
  font-size: 1.5rem;
}

.second p:nth-of-type(2) {
  margin: 0 .5rem;
  padding-bottom: 2rem;
}

.third h2 {
  padding-bottom: 0rem;
}

.third h3 {
  font-size: 2rem;
  text-align: center;
}

.third p {
  padding-top: 0rem;
  margin: 0rem;
  font-size: 1.5rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container div {
  text-align: center;
}

.circle, .circlea {
  background: -webkit-gradient(linear, left bottom, left top, from(#4e52fc), to(#59b0f7));
  background: linear-gradient(to top, #4e52fc, #59b0f7);
  opacity: 60%;
  position: absolute;
  border-radius: 50%;
  -webkit-filter: blur(1.5rem);
          filter: blur(1.5rem);
}

.circle {
  height: 50rem;
  width: 50rem;
  bottom: -15%;
  left: -2%;
}

.circlea {
  height: 25rem;
  width: 25rem;
  top: 5%;
  right: 25%;
}

.circle1, .circle2 {
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(231, 233, 231, 0.75)), to(rgba(231, 233, 231, 0.15)));
  background: linear-gradient(to top right, rgba(231, 233, 231, 0.75), rgba(231, 233, 231, 0.15));
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.circle1 {
  height: 15rem;
  width: 15rem;
  bottom: 15%;
  left: 10%;
}

.circle1:nth-of-type(2) {
  bottom: -115%;
  left: 10%;
}

.circle2 {
  height: 8rem;
  width: 8rem;
  top: 5%;
  right: 18%;
}

.circle2:nth-of-type(2) {
  top: 115%;
  right: 18%;
}

@media (orientation: portrait) {
  .glass {
    min-height: 90vh;
    width: 90vw;
  }
  .glass h1, p, h2 {
    font-weight: 200;
    font-size: 1.25rem;
    padding: 0rem 0rem;
    margin: .25rem .25rem;
    line-height: 1.25;
    text-align: center;
  }
  .glass h1 {
    font-size: 3rem;
    margin: 2rem;
  }
  .glass h2 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .glass p {
    font-style: italic;
    grid-column: span 3;
    margin: 1rem;
  }
  .divider {
    max-height: 10vh;
  }
  .circle {
    height: 10rem;
    width: 10rem;
    bottom: -15%;
    left: -2%;
  }
  .circlea {
    height: 5rem;
    width: 5rem;
    top: 5%;
    right: 25%;
  }
  .circle1 {
    height: 10rem;
    width: 10rem;
    bottom: 15%;
    left: -10%;
  }
  .circle1:nth-of-type(2) {
    bottom: -115%;
    left: -10%;
  }
  .circle2 {
    height: 5rem;
    width: 5rem;
    top: 2%;
    right: 2%;
  }
  .circle2:nth-of-type(2) {
    top: 115%;
    right: 2%;
  }
}
/*# sourceMappingURL=glassb.css.map */